{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Esqueceu senha{% endblock %} {% block content %}

<h1 style="margin: 0 auto;">Esqueceu senha</h1>

<p style="margin: 0 auto;">Esqueceu sua senha? Informe seu e-mail, que enviaremos um link para você resetar sua senha.</p>

<form method="POST " action="{% url 'account_reset_password' %} " class="password_reset " style="width: 500px; margin: 0 auto; padding:10px">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit " class="btn btn-success " value="Enviar" />
</form>

{% endblock %}