{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %}Alterar senha{% endblock %} {% block content %}

<div class="row justify-content-center">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-body">
                <h2>Alterar Senha</h2>
                <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %} {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Alterar</button>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Esqueceu Senha?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}